$background-color: #17153B;
$primary-color : #708993;
$secondary-color : #A1C2BD;
$text-color : #E7F2EF;

$background2-color : #540863;
$primary2-color : #92487A;
$secondary2-color : #E49BA6;
$text2-color : #E49BA6;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
}

html{
    background-color: $background-color;
    color: $text-color;
    font-family :cursive;
}

.text-field {
  background-color: $secondary-color;
  color:  $background2-color;
  font-family: cursive;
  font-size: 1rem;
}